 .projects-pop {
   position: fixed;
   z-index: 30000;

   @include linear-gradient(lighten($theme1, 5%), darken($theme1, 5%));
   color: white;
   top: 0;
   left: 0;
   width: 100%;
   opacity: 0.95;

   @include flex-centre;

   height: 100vh;

   .projects-popped {
     border: 2px solid white;

     padding: 20px 80px;
     z-index: 9000;

     @media #{$break} {
       padding: 10px 30px;
     }

     @media #{$minibreak} {
       transform: scale(.8);
     }

     @media #{$heightbreak} {
       transform: scale(.7);
     }


     div.pop-link {
       @include transition(0.3s);

       &:hover {
         transform: scale(1.1);
       }
     }

     div.pop-link-x {
       @include transition(0.3s);
       //background: lime;

       &:hover {
         transform: scale(1.3);
       }
     }


   }

   div a {
     color: white !important;
     font-size: 1.3rem;
     line-height: 2.0rem;
     @include orpheus;

     @media #{$mobilebreak} {
       font-size: 1.4rem;
       line-height: 2.0rem;
     }

   }

   .close-pop {
     font-size: 3rem;
     line-height: 100%;
     margin: .5rem;

     @media #{$mobilebreak} {
       margin: .25rem;
     }
   }

   .head-pop {
     @include sofia(500);
     margin: 1rem 0 .4rem;
     font-size: .8rem;
     text-transform: uppercase;
     letter-spacing: 0.07rem;
     color: $theme1;
     background: $background;

     @media #{$mobilebreak} {
       font-size: .7rem;
     }
   }

 }

 .fade-down-enter-active {
   animation-name: fadeInDown;
   animation-duration: 0.5s;
 }

 .fade-down-leave-active {
   animation-name: fadeOutDown;
   animation-duration: 0.4s;
 }

 @keyframes fadeInDown {
   from {
     opacity: 0.05;
     transform: translate3d(0, -25px, 0);
   }

   to {
     opacity: 1;
     transform: none;
   }
 }

 @keyframes fadeOutDown {
   from {
     opacity: 1;
     transform: none;
   }

   to {
     opacity: 0.05;
     transform: translate3d(0, -25px, 0);
   }
 }



 /* Enter and leave animations can use different */
 /* durations and timing functions.              */
 .slide-fade-enter-active {
   transition: all .2s ease;
 }

 .slide-fade-leave-active {
   transition: all .1s cubic-bezier(1, 0.5, 0.8, 1);
 }

 .slide-fade-enter,
 .slide-fade-leave-to

 /* .slide-fade-leave-active below version 2.1.8 */
   {
   transform: translate(25%, 15%);
   opacity: 0;
 }





 .fab-container {

   font-family: helvetica, arial;
   visibility: hidden;
   opacity: 0;
   transition: visibility 0s, opacity 0.3s ease;

   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;

   width: 56px;
   height: 56px;

   z-index: 15000;

   a {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 56px;
     height: 56px;
   }


   filter: grayscale(0%);
   font-size: 1.2rem;

   position: fixed;
   bottom: 24px;
   right: 24px;

   @include transition(0.3s);

   &:hover {

     transform: scale(1.1);
   }

   .fab {
     width: 56px;
     height: 56px;
     background-image: url("~@/assets/Burger.svg");
     background-position: 0 0;
     background-repeat: no-repeat;
     background-size: 56px 56px;

     box-shadow: 0 6px 12px rgba(0, 0, 0, 0.24);
     border-radius: 50%;


     &:hover {
       background-image: url("~@/assets/BurgerInv.svg");
     }
   }




 }

 body:after {
   display: none;
   content: url("~@/assets/BurgerInv.svg");
 }

 /*
   .fab {
     width: 56px;
     height: 56px;
     background: url("~@/assets/BurgerSprite.svg") 0 0 no-repeat;
     background-size: 56px 56px;

     box-shadow: 0 6px 12px rgba(0, 0, 0, 0.24);
     border-radius: 50%;


     &:hover {
       background: url("~@/assets/BurgerSprite.svg") 0 56px;
       background-size: 56px 56px;
     }
   }

   */


 .fab-container.magic {
   visibility: visible;
   opacity: 1;
 }

 .pointer {
   cursor: pointer;
 }






 // Animation

 .rotate-in-center {
   -webkit-animation: rotate-in-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
   animation: rotate-in-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
 }

 /* ----------------------------------------------
 * Generated by Animista on 2019-1-17 18:54:20
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 /**
 * ----------------------------------------
 * animation rotate-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes rotate-in-center {
   0% {
     -webkit-transform: rotate(-360deg);
     transform: rotate(-360deg);
     opacity: 0;
   }

   100% {
     -webkit-transform: rotate(0);
     transform: rotate(0);
     opacity: 1;
   }
 }

 @keyframes rotate-in-center {
   0% {
     -webkit-transform: rotate(-360deg);
     transform: rotate(-360deg);
     opacity: 0;
   }

   100% {
     -webkit-transform: rotate(0);
     transform: rotate(0);
     opacity: 1;
   }
 }


 .tracking-in-contract {
   -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.8s both;
   animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.8s both;
 }

 /* ----------------------------------------------
 * Generated by Animista on 2019-1-17 18:55:58
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 /**
 * ----------------------------------------
 * animation tracking-in-contract
 * ----------------------------------------
 */
 /* ----------------------------------------------
 * Generated by Animista on 2019-1-17 18:57:52
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 /**
 * ----------------------------------------
 * animation tracking-in-contract
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-contract {
   0% {
     letter-spacing: 1em;
     opacity: 0;
   }

   40% {
     opacity: 0.6;
   }

   100% {
     letter-spacing: normal;
     opacity: 1;
   }
 }

 @keyframes tracking-in-contract {
   0% {
     letter-spacing: 1em;
     opacity: 0;
   }

   40% {
     opacity: 0.6;
   }

   100% {
     letter-spacing: normal;
     opacity: 1;
   }
 }

 //Tooltips

 .vue-tooltip.tooltip-custom {
   @include sofia(500);
   font-size: .7rem;
   text-transform: uppercase;
   letter-spacing: 0.07rem;
   color: $theme1;
   background: $background;
 }

 .vue-tooltip.tooltip-custom .tooltip-arrow {
   border-color: $background !important;
 }

 .vue-tooltip.tooltip-dark {
   @include sofia(500);
   font-size: .7rem;
   text-transform: uppercase;
   letter-spacing: 0.07rem;
   color: $theme1;
   background: $text;
 }

 .vue-tooltip.tooltip-dark .tooltip-arrow {
   border-color: $text !important;
 }