.carousel-container {
    padding: 0;
}

.VueCarousel-slide {
    position: relative;
    color: white;
    font-size: 24px;
    text-align: center;
    min-height: 90px;
    max-height: 330px;

    img {
        max-height: 330px;
    }
}

.VueCarousel-dot {
    background-color: lighten($theme1, 25%);
}

.VueCarousel-dot--active {
    background-color: darken($text, 0%);
}