.case {
    @if $alignment==left {
        flex-direction: row-reverse;
    }

    @else {
        flex-direction: row;
    }

    img {
        @if $alignment==left {
            text-align: left;
        }

        @else {
            text-align: right;
        }

    }
}

.case-left {
    flex-direction: row-reverse;
}

.case-right {
    flex-direction: row;
}

.case-centre {
    flex-direction: column;

}