.lb-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px 10px;

    img {
        height: 32px;
        width: 32px;
        @include transition(0.3s);

        &:hover {
            transform: scale(1.2);
        }
    }
}


.lb-magic {
    position: fixed;
    z-index: 30000;
    background: url("~@/assets/Visual-Background-Dots.png") center center;

    @include linear-gradient(lighten($contrast, 5%), darken($contrast, 5%));
    color: white;
    top: 0;
    left: 0;
    width: 100%;

    @include flex-centre;

    height: 100vh;

    .lb-close {
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px 15px;

        img {
            height: 64px;
            width: 64px;
            @include transition(0.3s);

            &:hover {
                transform: scale(1.2);
            }
        }
    }


}

// Transition

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */
    {
    opacity: 0;
}